/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
coverage-error.log
/*.gz
/web/project